@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  width: 90%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 31.7px 58px;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 20px;
  }
}

.header__adjustment {
  position: relative;
}

.header__wrap {
  width: 100%;
  position: absolute;
  top: 30%;
}

.header__toggle {
  display: block;
  position: absolute;
  width: 1.75rem;
  height: 1.5rem;
}

.header__toggle::before {
  position: absolute;
  left: 32px;
  width: 100%;
  content: "MENU";
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.header__toggle span {
  display: block;
  width: 90%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}

.header__toggle span:nth-child(1) {
  top: 0;
}

.header__toggle span:nth-child(2) {
  top: -12px;
  bottom: 0;
  margin: auto;
}

.header__toggle span:nth-child(3) {
  bottom: 12px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    width: 100%;
  }
}

.header .nav {
  width: 520px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}

@media screen and (max-width: 767px) {
  .header .nav {
    background-color: #222222;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.header__toggle.show {
  position: fixed;
  z-index: 99;
}

.header__toggle.show span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.header__toggle.show span:nth-child(2) {
  opacity: 0;
}

.header__toggle.show span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.header .nav.show {
  opacity: 1;
  visibility: visible;
  background-color: rgba(34, 34, 34, 0.95);
  top: 0;
  font-family: 'Montserrat', sans-serif;
}

.header .nav.show ul {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.068;
  margin-top: 160px;
}

.header .nav.show li {
  padding-bottom: 30px;
}

.header .nav.show a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background-color: #525252;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.15em;
  padding: 20px;
}

.top {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #222222), to(#222222));
  background: linear-gradient(90deg, white 50%, #222222 50%, #222222 100%);
  width: 100%;
  height: 740px;
}

@media screen and (max-width: 767px) {
  .top {
    width: 100%;
    height: 667px;
    background: -webkit-gradient(linear, left top, right top, color-stop(22%, white), color-stop(15%, #222222), to(#222222));
    background: linear-gradient(90deg, white 22%, #222222 15%, #222222 100%);
  }
}

.mv {
  position: relative;
  background-image: url(/assets/img/index/top@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 640px;
}

@media screen and (max-width: 767px) {
  .mv {
    width: 77%;
    height: 87%;
  }
}

.mv__title {
  position: absolute;
  top: 161px;
  right: -14%;
}

.mv__title h2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  line-height: 1.17em;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .mv__title h2 {
    font-size: 56px;
  }
}

.mv__title h3 {
  color: #ffffff;
  font-size: 20px;
}

.mv__title h3:nth-child(1) {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.mv__title h3:nth-child(2) {
  padding-top: 8px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
  .mv__title h3 {
    font-size: 16px;
  }
}

.mv__box {
  width: 90px;
  height: 730px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.mv__wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
}

.mv__arrow {
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.mv__arrow::before {
  content: '';
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #000;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}

@-webkit-keyframes mv__arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

@keyframes mv__arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }
}

.wrap__inner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fff), color-stop(40%, #fff), color-stop(0%, #F0F0F0), color-stop(120%, #F0F0F0));
  background: linear-gradient(to bottom, #fff 10%, #fff 40%, #F0F0F0 0%, #F0F0F0 120%);
}

.about {
  position: relative;
  background-image: url(/assets/img/index/about@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 607px;
  margin-top: 120px;
}

.about__box {
  background-color: #ffffff;
  position: absolute;
  top: 19%;
  left: 50px;
  width: 590px;
  height: 387px;
}

@media screen and (max-width: 767px) {
  .about__box {
    width: 354px;
    height: 471px;
    left: 20px;
    top: 10%;
  }
}

.about__box h2 {
  padding-top: 50px;
  padding-left: 30px;
}

.about__box p {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2em;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .about__box p {
    font-size: 14px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    line-height: 2em;
  }
}

.about__btn {
  padding-top: 30px;
  padding-left: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .flex {
    display: block;
  }
}

.works {
  width: 520px;
  height: 531px;
}

@media screen and (max-width: 767px) {
  .works {
    width: 100%;
  }
}

.works h2 {
  padding-bottom: 30px;
}

.works p {
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.culture {
  width: 520px;
  height: 531px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .culture {
    width: 100%;
  }
}

.culture h2 {
  padding-bottom: 30px;
}

.culture p {
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.topics {
  padding-top: 60px;
  padding-bottom: 60px;
}

.topics__box {
  display: block;
  float: right;
}

.topics__box time {
  display: inline-block;
  font-size: 10px;
  color: #CECECE;
  font-weight: bold;
  padding-top: 32px;
}

.topics__box p {
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 240px;
  border-bottom: 1px solid #DDDDDD;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .topics__box p {
    padding: 0;
  }
}

.topics__btn {
  clear: both;
  float: right;
}

@media screen and (max-width: 767px) {
  .topics__btn {
    float: none;
    padding-top: 30px;
    padding-left: 15px;
  }
}

.topics .cb {
  /* floatを解除 */
  clear: both;
}

.topics__btn {
  margin-top: 30px;
}

.contact {
  background-color: #F2F2F2;
}

.contact__wrap {
  padding-top: 132px;
}

@media screen and (max-width: 767px) {
  .contact__wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 767px) {
  .contact__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.contact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .contact .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact p {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  line-height: 2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact img {
  margin-top: 60px;
  width: 580px;
}

.sec-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  letter-spacing: 0.068em;
  color: #333333;
}

.readmore {
  display: inline-block;
  padding: 13px 41px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 12px;
  overflow: hidden;
}

.readmore:hover {
  color: #fff;
  background-color: #788992;
}
/*# sourceMappingURL=style.css.map */